body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(/assets/bg-image3.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mode-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
}

.mode-container h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: #ffffff;
}

.mode-container button {
  padding: 15px 30px;
  font-size: 30px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

.mode-container button:hover {
  background-color: #388e3c;
}
